
@using (Html.BeginForm("Login", "Account", FormMethod.Get, new { id = "loginLink" }))
{
    <button type="submit">Zaloguj</button>
}
@using (Html.BeginForm("Register", "Account", FormMethod.Get, new { id = "registerLink" }))
{
    <button type="submit">Zarejestruj</button>
}