@{
    ViewBag.Title = "About";
}
    <div class="main-content">
        
        <div class="about-logo">
	    <img src="~/Content/images/newLogo.png"/>
	</div>
	<div class="mission">
	    <h2>Nasza misja</h2>
	    <p>Nasz portal powstał w celu łatwiejszego komunikowania się między pasjonatami gier wideo. Dzięki naszej stronie
	    możecie dzielić się swoimi doświadczeniami oraz opiniami na temat poszczególnych gier.
	    Ponadto, isnieje również możliwość oceny i polecenia gry znajomym.</p>
	    <p style="margin-bottom: 80px;">Można zneleźć tu wszystkie kultowe pozycje gier. </p>
	</div>
	<div class="icons">
	    <img src="~/Content/images//message.png"/>
	    <img src="~/Content/images//share.png"/>
	    <img src="~/Content/images/shake.png"/>
	    <img src="~/Content/images/comment.png"/>
	</div>
	

    </div>   
