@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<ol class="round">
    <li class="one">
        <h5>1st RULE</h5>
        You do not talk about VIDEO GAMES CLUB.
    </li>

    <li class="two">
        <h5>2nd RULE</h5>
        You DO NOT talk about VIDEO GAMES CLUB.
    </li>

    <li class="three">
        <h5>3rd RULE</h5>
        If someone says "stop" or goes limp, taps out the fight is over.
    </li>
</ol>
