@{
    ViewBag.Title = "Home Page";
}
<div class="main-content">
        
        <div class="sidebar-left">
        
            <h2>Kategorie:</h2>
            
            <ul>
                    <li><a href="">Example</a></li>
                    <li><a href="">Example</a></li>
                    <li><a href="">Example</a></li>
                    <li><a href="">Example</a></li>
                    <li><a href="">Example</a></li>
                    <li><a href="">Example</a></li>
            </ul>
        
        </div>
        
        <div class="sidebar-right">
         
            <h2>Gry:</h2>
            
                <div class="item">
            
                    <!-- Here place appropriate foreach loop in order to display items -->
                    <!-- This is ONLY sample item which shows the view -->
                    <!-- Order: Game name, picture, description -->
                    
                    <h3>Video game name</h3>
                    <img src="~/Content/images/test.jpg"/>
                    <h4>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco"</h4>
         
                </div>
                <div class="item">
            
                    <!-- Here place appropriate foreach loop in order to display items -->
                    <!-- This is ONLY sample item which shows the view -->
                    <!-- Order: Game name, picture, description -->
                    
                    <h3>Video game name</h3>
                    <img src="~/Content/images/test.jpg"/>
                    <h4>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco"</h4>
         
                </div>
         
        </div>

    </div>
